/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
  font-family: "Nunito Sans";
  /* font-family: 'Roboto', Arial, sans-serif; */
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: gray;
}

#game-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
}

#controls {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  /* width: 100vw; */
  top: 15px;
  left: 15px;
  gap: 10px;
}

.control-btn {
  outline: none;
  --bg: #000;
  --hover-bg: #ffffff;
  --hover-text: #000;
  /* rgba(255, 255, 255, 0.1)  -  #ff90e8 */
  filter: drop-shadow(0.25rem 0.25rem 0.5rem rgba(255, 144, 233, 0.2));
  
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.7em 1.8em;
  background: var(--bg);
  transition: 0.2s;
}

.control-btn:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.control-btn:active {
  transform: translate(0);
  box-shadow: none;
}

.export-btn-loading{
  display: flex;
  align-items: center;
  justify-content: center;
}